html,body{
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    
}

.navbar-light .navbar-brand{
    position: relative;
    font-weight: bold;
    left:80px;
    color: white;
    padding: 15px 16px;
    font-family: 'Times New Roman';
    background-color: lightseagreen;
}

/* .col-lg-1{
    padding: 0px 10px;
} */
.navbar-light .navbar-nav .nav-link{
    position: relative;
    right: 15px;
    padding: 14px 16px;
}

/* .menu-bar{
    overflow: hidden;
    background-color: white;
    font-family: 'Times New Roman';
}

.menu-bar ul{
    float: right;
    list-style-type: none;
    
}

.menu-bar ul li{
    display: inline-block;
} */

/* .menu-bar ul li a{
    position: relative;
    right: 50px;
    text-decoration: none;
    color: grey;
    padding: 14px 16px;
    border: 1px;
    transition: 0.6s ease; 
} */

/* .menu-bar ul li a:hover{
    background-color: lightgrey;
}

.logo{
    margin-top: 0px;
    position: absolute;
    font-weight: bold;
    font-size: large;
    left:50px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px 16px;
    border: 1px;
    background-color: lightseagreen;
    
}

.sub_menu{
    display: none;
    text-align: left;
}

.menu-bar ul li:hover .sub_menu{
    display: block;
    position: absolute;    
    padding: 15px 16px;
    background-color: white;
    margin-top: 5px;
    margin-left: -5px;
} 

.menu-bar ul li:hover .sub_menu li{
    display: block;
    position: relative;
    text-align: right;
} 
.menu-bar ul li:hover .sub_menu li a{
    display: block;
    position: relative;
    left: 5px;
    padding: 10px 12px;
    text-align: center;
} 

.menu-bar ul li i{
    padding: 2px;
} */
